body {
    font-family: 'Montserrat', sans-serif;    
    background-color: E5E5E5;

}

/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: auto;
}

/* main content */

.main_content {
    width: 830px;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 40px 80px;
    color: #000318;
}

/* about styles */

.about h2{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 24px;
}

.about h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 32px;
}

.about p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

.about dd {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 20px;
}

/* title */
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;    
    margin-bottom: 12px;
}

/* sub_title */
.sub_title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
    color: #0dbd7fbc;
}

a {
font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

button {
    background-color: white; /* Green */
    border: 2px solid #0657475b;
    border-radius: 10px;
    color: #0dbd7fbc;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #0657475b;
    color: white;
}

/* education styles */

.education {
    margin-bottom: 32px;
}

.education h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 12px;
}

.education p, h6{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.education dt {
    margin-left: 5px;

}

.education dd {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #595959;
    margin-top: 12px;
    margin-left: 20px;
}

/* projects styles */

.projects {
    margin-bottom: 32px;
}

.projects ol {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    margin-left: 20px;
    margin-right: 13px;

}

.projects span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.projects span span {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

/* work styles */

.work {
    margin-bottom: 32px;
}

.work .sub_title span {
    color: #000318;
}

.work p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 8px;
}

.work p span {
    color: #000318;
}

.work ul {
    padding: 0;
    margin-left: 20px;
    margin-right: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.work li span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* description */

.hobbies_and_interests {
    margin-bottom: 32px;
}

.hobbies_and_interests dd {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #595959;
    margin-top: 12px;
    margin-left: 20px;
}

/* sidebar styles */

.sidebar {
    padding-top: 40px;
    background-color: #0657475b;
    width: 370px;
}

 /* photo */

.photo {
    width: 370;
    margin-bottom: 32px;
}

.sidebar_text {    
    color: #FFFFFF;
    margin-left: 40px;
    margin-bottom: 50px;
}

.contacts, .language {
    margin-bottom: 40px;
}

.tech_skills, .soft_skills {
    margin-bottom: 24px;
}

.contacts span {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 10px;
}

.sidebar ul {
    color: #0dbd7fbc;
    padding: 0;
    margin-left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}
.sidebar span {
    color: #FFFFFF;
}

.techSkills_descr {
    margin-left: 10px;
    font-size: 8px;
    color: #565E6A;
}
.techSkills_descr span {
    color: #565E6A;    
}